@font-face {
    font-family: 'dsDigital';
    src: url(fonts/7fonts.ru_DS-DIGI.TTF);
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    scrollbar-width: none; 
    background: rgb(90, 90, 90);
    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    --font-size-k: 1;
}

body::-webkit-scrollbar {
    display: none;
  }
.cellSVG:hover{
    fill: #87aade94;
}
#svgSqare{
    transform-origin: center;
    position: absolute;
     left: 30%;
      top: 30%;
    /* transition: all 1s ease-in-out; */
}
#menu{
    width: 100%;
    height: 100%;
    position: sticky;
    /* background: radial-gradient(rgb(38, 35, 63), black); */
    /* animation: gradient 10s ease infinite; */
    place-items: center;
    background: #000000;
}
#menuPanel{
    z-index: 5;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 80%;
    overflow: hidden;
}
#headerMenu{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100%;
}
@keyframes gradient {
	0% {
        background: radial-gradient(rgb(38, 35, 63), black);
	}
    10%{
        background: radial-gradient(rgb(39, 35, 62), black);
    }
    20%{
        background: radial-gradient(rgb(40, 34, 61), black);
    }
    30%{
        background: radial-gradient(rgb(42, 34, 60), black);
    }
    40%{
        background: radial-gradient(rgb(43, 33, 59), black);
    }
	50% {
        background: radial-gradient(rgb(45, 33, 58), black);
	}
    60%{
        background: radial-gradient(rgb(43, 33, 59), black);
    }
    70%{
        background: radial-gradient(rgb(42, 34, 60), black);
    }
    80%{
        background: radial-gradient(rgb(40, 34, 61), black);
    }
    90%{
        background: radial-gradient(rgb(39, 35, 62), black);
    }
	100% {
        background: radial-gradient(rgb(38, 35, 63), black);
	}
}

#firstMenu{
    display: grid;
    grid-template-rows: 2fr 5fr 1fr;
}
.menuBlocks{
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    -moz-backdrop-filter: blur(10px);
    position: absolute;
}
#gameNameLbl{
    font-size: calc(84px * var(--font-size-k));
    color: #ab9aff;
    letter-spacing: 3px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    align-self: end;
    justify-self: center;
    text-shadow: 2px 2px #2b00ff;
    margin-bottom: 35px;
}
#firstMenuBtnsBlock{
    display: flex;
    gap: 5%;
    align-content: center;
    flex-wrap: wrap;
    margin: 0 10% 5% 10%;
}
.btnsMenu{
    place-self: center;
    background: #458BAF;
    color: white;
    font-size: calc(42px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
    border: 3px solid #294e63;
    margin-top: 20px;
    width: 20%;
    height: 40%;
}
#gameModeSwitchPanel{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 3%;
}
#leaveLobbyIcon{
    width: 25%;
    align-self: start;
    justify-self: start;
    margin: 10%;
}
#settingLobbyIcon{
    width: 25%;
    align-self: start;
    justify-self: end;
    margin: 10%;
    z-index: 101;
}
#bodyMenu{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 70% 30%;
    grid-template-columns: 50% 50%;
    grid-template-areas: "leftBody rightBody"
    "leftFooter rightFooter";
}
#mapSwitchPanel{
    height: 100%;
    width: 100%;
    grid-area: leftBody;
}
#switchMapBtn{
    width: 100%;
    height: 100%;
    background: #458cafd0;
    border: 3px solid #294e63;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 50px;
    box-sizing: border-box;
    margin: 0 10%;
    width: 90%;
}
#leftPanelBodyMenu{
    margin-left: 10%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
}
#leftFooterMenu{
    display: grid;
    grid-area: leftFooter;
}
#playBtn{
    color: white;
    background: #3CA27B;
    border: 3px solid #28674F;
    width: 50%;
    height: 35%;
    align-self: center;
    font-size: calc(42px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
    margin: 0 10%;
    width: 45%;
}
#mapNameMenuLbl{
    place-self: center;
    color: white;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
}
#rightPanelBodyMenu{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 70% 30%;
}
#lobbyPanel{
    width: 50%;
    height: 100%;
    background: #458BAFd0;
    border: 3px solid #294e63;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 6fr;
    grid-area: rightBody;
    box-sizing: border-box;
    align-self: center;
    justify-self: center;
}
#lobbyBtnsPanel{
    height: 100%;
    width: 50%;
   grid-area: rightFooter;
   box-sizing: border-box;
   align-self: center;
    justify-self: center;
}
.lobbyBtns{
    height: 20%;
    flex: 1;
    margin-top: 10%;
    color: white;
    background: #458BAF;
    border: 2px solid #294e63;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
}
#leaveBtn{
    height: 20%;
    width: 100%;
    margin-top: 10%;
    color: white;
    background: #af4545;
    border: 3px solid #632929;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
    box-sizing: border-box;
}
#lobbyLblMenu{
    color: white;
    text-align: center;
    justify-self: center;
    align-self: center;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
}
#playersLobbyPanel{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(8, 1fr);
}
.playerPositionLobby{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 100%;
    margin-left: 10%;
    justify-self: center;
}
.nickNameLobbyDiv{
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #294e63;
}
.nikcPlayerLobby{
    color: orange;
    text-align: center;
    justify-self: center;
    align-self: end;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: normal;
    letter-spacing: 5px;
}
.addPlayerLobby{
    width: 10%;
    place-self: center;
}
#crossPlayerLobby{
    justify-self: end;
    align-self: end;
    width: 75%;
}
#settingMenuPanel{
    width: 20%;
    height: 100%;
    background: #528eac;
    position: absolute;
    margin-left: 80%;
    display: none;
    border-left: 10px solid #294e63;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}
#settingBtnsPanel{
    height: 90%;
    width: 100%;
    margin-top: 50%;
}
.settingMenuPanelOpen{
    animation: openSettings .5s ease-in-out 0s 1 normal;
}
.settingMenuPanelClose{
    animation: closeSettings .5s ease-in-out 0s 1 normal;
}
@keyframes openSettings {
    from {
       transform: translate(100%, 0);
    }
    to {
        transform: translate(0, 0);
    }
}

@keyframes closeSettings {
    from {
       transform: translate(0, 0);
    }
    to {
        transform: translate(100%, 0);
    }
}
.settingLobbyIconRotate{
    animation: settingRotate .5s forwards ease-in-out 0s 1 normal;
}
@keyframes settingRotate {
    from {
       transform: rotate(0deg);
    }
    to {
        transform: rotate(-180deg);
    }
}
.settingLobbyIconRotateBack{
    animation: settingRotateBack .5s forwards ease-in-out 0s 1 normal;
}
@keyframes settingRotateBack {
    from {
       transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
.firstElementSwitchBtn{
    animation: firstElementSwitchMove .5s forwards ease-in-out 0s 1 normal;
}
.midTofirstSwitchBtn{
    animation: midTofirstSwitchMove .5s forwards ease-in-out 0s 1 normal;
}
.lastElementSwitchBtn{
    animation: lastElementSwitchMove .5s forwards ease-in-out 0s 1 normal;
}
.midTolastSwitchBtn{
    animation: midTolastSwitchMove .5s forwards ease-in-out 0s 1 normal;
}
@keyframes midTolastSwitchMove {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(-115%, 50%);
    }
}
@keyframes lastElementSwitchMove {
    from {
        transform: translate(0, 50%);
    }
    to {
        transform: translate(115%, 0);
    }
}
@keyframes firstElementSwitchMove {
    from {
        transform: translate(0, 0);
    }
    to {
        transform: translate(115%, 50%);
    }
}
@keyframes midTofirstSwitchMove {
    from {
        transform: translate(0, 50%);
    }
    to {
        transform: translate(-115%, 0);
    }
}
#mapCreatingBtn{
    background: transparent;
    border: none;
    width: 100%;
    height: 15%;
    color: white;
    border-top: 2px solid #294e63;
    border-bottom: 1px solid #294e63;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
}
#friendsBtn{
    background: transparent;
    border: none;
    width: 100%;
    height: 15%;
    color: white;
    font-size: calc(32px * var(--font-size-k));
    font-family: dsDigital;
    font-weight: bold;
    letter-spacing: 5px;
    border-top: 1px solid #294e63;
    border-bottom: 2px solid #294e63;
}
#miniMapLobby{
    transform-origin: -0% -0%;
    transform: scale(0.2);
    pointer-events: none;
    animation: minimapZoom 10s ease-in 1s infinite alternate;
}
/* @keyframes minimapZoom {
    to{
        transform: scale(0.3);
    }
} */
#miniMapLobbyBlock{
    overflow: hidden;
    width: 100%;
    height: 100%;
}
#sun{
    position: absolute;
    right: -5%;
    bottom: -5%;
    width: 15%;
    padding-top: 15%;
    background: radial-gradient(#d3b354, #ce8230);
    border-radius: 50%;
    z-index: 2;
}
#moon{
    position: absolute;
    z-index: 2;
    width: 15%;
    top: 10%;
    left: 5%;
}
#sunScaler{
    width: 200px;
    height: 200px;
    animation: scale 10s linear infinite
}
/* #sun{
    animation: myOrbit 20s linear infinite;
} */
#comingSoon{
    display: none;
}
#lblConingSoon{
    font-size: calc(72px * var(--font-size-k));
    font-family: Arial, Helvetica, sans-serif;
    place-self: center;
    font-weight: bold;
    color: #a892be;
    text-align: center;
}
#onlineMenu{
    display: none;
}
#singleMenu{
    display: none;
    gap: 5%;
    align-content: center;
    flex-wrap: wrap;
}
#closeSingleMenu{
    position: absolute;
    width: 75px;
    height: 75px;
    margin: 0;
    margin-left: calc(100% - 75px);
}
.gameInterface{
    display: none;
}
#gameMenubtn{
    z-index: 1001;
    position: fixed;
    -webkit-backface-visibility: hidden;
    left: 0;
    bottom: 0;
    width: 100px;
    height: 100px;
    background: transparent;
    border: none;
}
#gameMenu{
    display: none;
    z-index: 1001;
    position: fixed;
    -webkit-backface-visibility: hidden;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px) brightness(70%);
    -webkit-backdrop-filter: blur(10px) brightness(70%);
    -moz-backdrop-filter: blur(10px) brightness(70%);
}
#gameMenuPanel{
    z-index: 1001;
    height: 80%;
    border: 2px solid black;
    place-self: center;
    display: grid;
}
#closeGameMenu{
    position: relative;
    width: 50px;
    height: 50px;
    background: transparent;
    color: red;
    border: none;
    font-size: calc(36px * var(--font-size-k));
    justify-self: end;
}
#LeaveGameBtn{
    position: static;
    width: 100%;
    height: 75px;
    border: none;
    background: transparent;
    color: red;
    font-size: calc(28px * var(--font-size-k));
    align-self: flex-end;
}
#resoursesInfoPanel{
    border: 1px solid black;
    width: 300px;
    height: 40px;
    z-index: 1001;
    position: fixed;
    -webkit-backface-visibility: hidden;
    left: 50%;
    top: 0;
    margin-top: 10px;
    margin-left: -150px;
    border-radius: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 100%;
    backdrop-filter: blur(4px) brightness(80%);
    -webkit-backdrop-filter: blur(4px) brightness(80%);
    -moz-backdrop-filter: blur(4px) brightness(80%);
}
.resoursesCounter{
    font-size: calc(18px * var(--font-size-k));
    color: black;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
#resoursesInfoPanel > *{
    place-self: center;
}
#footerBtnPanel{
    display: grid;
}
#mapCreating{
    width: 100px;
    height: 50%;
    align-self: center;
    justify-self: flex-end;
}
#mapCreatingInterface{
    top: 0;
    left: 0;
    display: none;
    z-index: 1001;
    height: 100%;
    width: 15%;
    position: fixed;
    border-right: 1px solid black;
    flex-wrap: wrap;
    gap: 20px;
    align-content: center;
    background: black;
}
#mapCreatingInterface > *{
    margin: 10px;
}
.creatingMapMenuInp{
    height: 30px;
    background: transparent;
    flex: 1;
    color: white;
    font-weight: bold;
    font-size: calc(24px * var(--font-size-k));
    font-family: Arial, Helvetica, sans-serif;
    width: 150px;
    border: 1px solid white;
}
.creatingMapMenuLbl{
    font-size: calc(24px * var(--font-size-k));
    color: white;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    flex: 2;
}
#cellsDeleterBtn{

}
.capitalCity{
    position: absolute;
    pointer-events: none;
}
@keyframes scale {
    0%{
        transform: scaleX(1) scaleY(1);
    }
    50%{
        transform: scaleX(2) scaleY(2);
    }
    100%{
        transform: scaleX(1) scaleY(1);
    }
}
@keyframes myOrbit {
    from { transform: rotate(0deg) translateX(150px) rotate(0deg); }
    to   { transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}
@media screen and (orientation:portrait) {
    html {
        /* transform: rotate(90deg);
        height: 100%;
        width: 100%; */
    }
    html {
        /* height: 100%;
        width: 100%; */
        /* transform-origin: 20% 100%;
        transform: rotate(90deg); */
      }
}
@media screen and (orientation:landscape) {
    html {
        /* transform-origin: left top; */
    }
}
@media screen and (max-width: 1000px) {
    html, body{
        --font-size-k: 0.4;
    }
    #gameNameLbl{
        font-size: 48px;
        margin-bottom: 50px;
    }
    #singleMenu{
        flex-direction: column;
    }
    #firstMenuBtnsBlock{
        flex-direction: column;
    }
    #gameMenuPanel{
        width: 100%;
    }
}
@media screen and (min-width: 1000px) {
    html, body{
        --font-size-k: 1;
    }
    #gameNameLbl{
        font-size: 84px;
        margin-bottom: 0px;
    }
    #singleMenu{
        flex-direction: row;
    }
    #firstMenuBtnsBlock{
        flex-direction: row;
    }
    #gameMenuPanel{
        width: 600px;
    }
}